.navbar{
  display:flex;
  justify-content: center;
  align-items:center;
  font-size: 1rem;
}

.navbar-container{
  display:flex;
  width:100%;

}


.nav-item{ 
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  width:100%;
  text-decoration:none;
  text-align: center;
}

.nav-item-right{ 
  border-bottom: 2px solid black;
  width:100%;
  text-decoration:none;
  text-align: center;
}

.nav-item:hover{
  border-bottom:4px solid #000;
  transition: all 0.2s ease-out;
}

.nav-item-right:hover{
  border-bottom:4px solid #000;
  transition: all 0.2s ease-out;
}

.nav-text {
  color:#000;
  text-decoration:none;
}


